<div class="jumbotron">
    <h1>quotejoli</h1>
</div>

    <div class="panel panel-default">
        <!-- SEARCH PANE -->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#searchPane">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </a>
            </h4>
        </div>
        <div id="searchPane" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label><input type="checkbox" data-bind="checked: quoteNot" /> Not</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='' data-bind='checked: quoteBool' /> None</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='and' data-bind='checked: quoteBool' /> And</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='or' data-bind='checked: quoteBool' /> Or</label>
                        </div>
                        <h4><span class="label label-primary">Quote:</span></h4><input type="search" class="form-control" data-bind="value: searchQuoteBody, valueUpdate: 'afterkeydown'" />
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label><input type="checkbox" data-bind="checked: titleNot" /> Not</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='' data-bind='checked: titleBool' /> None</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='and' data-bind='checked: titleBool' /> And</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='or' data-bind='checked: titleBool' /> Or</label>
                        </div>
                        <h4><span class="label label-primary">Title:</span></h4><input type="search" class="form-control" data-bind="value: searchSourceTitle, valueUpdate: 'afterkeydown'" />
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label><input type="checkbox" data-bind="checked: tagNot" /> Not</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='' data-bind='checked: tagBool' /> None</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='and' data-bind='checked: tagBool' /> And</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='or' data-bind='checked: tagBool' /> Or</label>
                        </div>
                        <h4><span class="label label-primary">Tag:</span></h4><input type="search" class="form-control" data-bind="value: searchQuoteTag, valueUpdate: 'afterkeydown'" />
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label><input type="checkbox" data-bind="checked: authorNot" /> Not</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='' data-bind='checked: authorBool' /> None</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='and' data-bind='checked: authorBool' /> And</label>
                        </div>
                        <div>
                            <label><input type='radio' name="type" value='or' data-bind='checked: authorBool' /> Or</label>
                        </div>
                        <h4><span class="label label-primary">Author:</span></h4><input type="search" class="form-control" data-bind="value: searchSourceAuthor, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <!-- ADD QUOTE PANE -->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#addQuotePane">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Quote
                </a>
            </h4>
        </div>
        <div id="addQuotePane" class="panel-collapse collapse">
            <div class="panel-body">
                <div data-bind="foreach: newQuotes">
                <div class="row">
                    <div class="col-md-9">
                        <label style="width: 100%;">
                            Quote:
                        </label>
                    </div>
                    <div class="col-md-3">
                        <h4>
                            <button data-bind='click: $root.addQuote' class="btn btn-default label label-primary" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add Quote
                            </button>
                        </h4>
                    </div>
                </div>
                    <textarea id="quoteText" data-bind="value: quoteText" rows="3" style="width: 100%; max-width: 100%;"></textarea>
                    <div class="row" style="width: 100%;">
                        <div class="col-md-4">
                            <label>
                                Source <a data-toggle="collapse" data-parent="#accordion" href="#addSourcePane">
                                    (<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> New</span>)
                                </a>
                            </label>
                            <br />
                            <input id="quoteSource" data-bind="value: sourceId" type="text" style="width: 100%;" />
                        </div>
                        <div class="col-md-4">
                            <label>Page:</label><br />
                            <input id="quotePage" data-bind="value: page" type="text" style="width: 100%;" />
                        </div>
                        <div class="col-md-4">
                            <label>Paragraph:</label><br />
                            <input id="quoteParagraph" data-bind="value: paragraph" type="text" style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div id="addSourcePane" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div data-bind="foreach: newSources">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>
                                            <button data-bind='click: $root.addSource' class="btn btn-default label label-primary" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add
                                            </button>
                                        </h4>
                                    </div>
                                </div>

                                <div class="row" style="width: 100%;">
                                    <div class="col-md-3">
                                        <label>Title:</label><br />
                                        <input id="sourceTitle" data-bind="value: title" type="text" style="width: 100%;" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Year:</label><br />
                                        <input id="sourceYear" data-bind="value: year" type="text" style="width: 100%;" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Original Year:</label><br />
                                        <input id="sourceOriginalYear" data-bind="value: yearOriginal" type="text" style="width: 100%;" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Edition:</label><br />
                                        <input id="sourceEdition" data-bind="value: edition" type="text" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row" style="width: 100%;">
                                    <div class="col-md-4">
                                        <label>
                                            Publisher <a data-toggle="collapse" data-parent="#accordion" href="#addPublisherPane">
                                                (<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> New</span>)
                                            </a>
                                        </label>
                                        <input id="sourcePublisher" data-bind="value: publisherId" type="text" style="width: 100%;" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Volume:</label><br />
                                        <input id="sourceVolume" data-bind="value: volume" type="text" style="width: 100%;" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Translator:</label><br />
                                        <input id="sourceTranslator" data-bind="value: translator" type="text" style="width: 100%;" />
                                    </div>
                                </div>

                                <div class="panel panel-success">
                                    <div id="addPublisherPane" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div data-bind="foreach: newPublishers">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h4>
                                                            <button data-bind='click: $root.addPublisher' class="btn btn-default label label-primary" aria-label="Left Align">
                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add
                                                            </button>
                                                        </h4>
                                                    </div>
                                                </div>

                                                <div class="row" style="width: 100%;">
                                                    <div class="col-md-3">
                                                        <label>Name:</label><br />
                                                        <input id="publisherName" data-bind="value: name" type="text" style="width: 100%;" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>City:</label><br />
                                                        <input id="publisherCity" data-bind="value: city" type="text" style="width: 100%;" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>State:</label><br />
                                                        <input id="publisherState" data-bind="value: state" type="text" style="width: 100%;" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Country:</label><br />
                                                        <input id="publisherCountry" data-bind="value: country" type="text" style="width: 100%;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<h4 data-bind="visible: (savedQuotes().length == 0)">I can't find any quotes in the system.</h4>

<div data-bind="visible: (savedQuotes().length > 0)" class="container-fluid">
    <div data-bind="click: addQuote">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </div>

    <table class="table table-responsive">
        <thead style="white-space: nowrap; text-align: center;">
            <tr>
                <th>?</th>
                <th>Quote</th>
                <th>Source</th>
                <th>Author</th>
                <th>Page</th>
                <th>Paragraph</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: savedQuotes">
            <tr>
                <td />
                <td data-bind="text: quoteText" />
                <td data-bind="text: Source.title" data-toggle="" />
                <td data-bind="text: Source.title" />
                <td data-bind="text: page" />
                <td data-bind="text: paragraph" />
                <td class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <!-- SOURCES PANE -->
    <div>
        <h3>Sources</h3>
        <div>
            Filter by name: <input data-blind="value: filter, valueUpdate: 'afterkeydown'" />

            <a href="#" data-bind="click: getSources">Refresh Sources</a>
        </div>
        <div>
            <H4 data-bind="visible: Sources().length == 0">I can't find any sources in the system. You can add one when you add a quote, though.</H4>
            <table class="table table-responsive" data-bind="visible: Sources().length>0">
                <thead style="white-space: nowrap; text-align: center;">
                    <tr><th>Title</th><th>Year</th><th>yearOriginal</th><th>Publisher</th><th>volume</th></tr>
                </thead>

                <tbody data-bind="foreach: Sources">
                    <tr>
                        <td><input data-bind="value: title" /></td>
                        <td><input data-bind="value: year" /></td>
                        <td><input data-bind="value: yearOriginal" /></td>
                        <td></td>
                        <td><input data-bind="value: volume" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <!-- PUBLISHER PANE -->
    <div>
        <h3>Publishers</h3>
        <div>
            Filter by name: <input data-blind="value: filter, valueUpdate: 'afterkeydown'" />

            <a href="#" data-bind="click: getPublishers">Refresh Publishers</a>
        </div>
        <div>
            <H4 data-bind="visible: savedPublishers().length == 0">I can't find any publishers in the system. You can add one when you add a quote, though.</H4>
            <table class="table table-responsive" data-bind="visible: savedPublishers().length>0">
                <thead style="white-space: nowrap; text-align: center;">
                    <tr><th>Name</th><th>City</th><th>State</th><th>Country ID</th><th>Actions</th></tr>
                </thead>

                <tbody data-bind="foreach: savedPublishers">
                    <tr>
                        <td><input data-bind="value: name" /></td>
                        <td><input data-bind="value: city" /></td>
                        <td><input data-bind="value: state" /></td>
                        <td><input data-bind="value: countryId" /></td>
                        <td>
                            <div>
                                <a href="#" data-bind="confirmClick: { message: 'Are you sure you want to Add/Update this timezone?', click: $root.updateTimezone }">Update</a>
                                <a href="#" data-bind="confirmClick: { message: 'Are you sure you want to DELETE this timezone?', click: $root.removeTimezone }">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <!-- DEBUG PANE -->
        <div>
            <form>
                <div class="form-group">
                    <label>Processing Results</label>
                    <p class="form-control" data-blind="text: result" style="width: 100%; max-width: 100%; max-height: 500px;"><p>
                </div>
                <div class="form-group error-messages" data-bind="foreach: errors">
                    <p data-bind="text: $data" />
                </div>
            </form>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#quoteModal">
    Launch demo modal
</button>

<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: errorText">Error</h4>
            </div>
            <div class="modal-body">
                <p data-bind="text: result" style="width: 100%; max-width: 100%; max-height: 500px;  overflow: auto"><p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
