<div class="jumbotron"><!-- HEADER -->
    <h1>quotejoli</h1>
</div><!-- HEADER -->

<ul class="nav nav-pills">
    <!-- TAB NAVIGATION -->
    <li class="active"><a data-toggle="pill" href="#add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Quotes</a></li>
    <li><a data-toggle="pill" href="#search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
</ul><!-- TAB NAVIGATION -->

<div class="tab-content">
    <!-- TAB CONTENTS -->
    <div id="add" class="tab-pane well fade in active">
        <!-- ADD QUOTE TAB -->
        <!-- Add Quote -->
        <div class="row" style="padding-bottom: 5px;">
            <!-- Set Quote Properties -->
            <div class="col-sm-6" data-bind="visible: sourcesReady">
                <!-- Set Source -->
                <label for="source">Source: </label>
                <br />
                <input id="source" data-bind="value: quoteSource" />
            </div><!-- Set Source -->

            <div class="col-sm-3">
                <!-- Set Page -->
                <label>Page:</label><br />
                <input id="quotePage" onfocus="this.select();" data-bind="value: quotePage" type="text" style="width: 100%;" />
                <input type="text" data-bind="value: quotePage" />
            </div><!-- Set Page -->

            <div class="col-sm-3">
                <!-- Set Paragraph -->
                <label>Paragraph:</label><br />
                <input id="quoteParagraph" onfocus="this.select();" data-bind="value: quoteParagraph" type="text" style="width: 100%;" />
                <input type="text" data-bind="value: quoteParagraph" />
            </div><!-- Set Paragraph -->
        </div><!-- Set Quote Properties -->

        <div class="row">
            <!-- Set Quote -->
            <div class="col-sm-12">
                <textarea id="quoteText" data-bind="value: quoteText" rows="3" style="width: 100%; max-width: 100%;"></textarea>
            </div>
        </div><!-- Set Quote -->

        <div class="row">
            <!-- Save button -->
            <div class="col-md-12">
                <blabel style="width: 100%;">
                    <button data-bind='click: $root.addQuote' class="btn btn-default label label-primary" style="text-align: right" aria-label="Right Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Save
                    </button>
                </blabel>
            </div>
        </div><!-- Save button -->
    </div><!-- ADD QUOTE TAB -->

    <div id="search" class="tab-pane well fade">
        <!-- SEARCH QUOTE TAB -->
        <div class="form-inline row">
            <div class="col-sm-3">
                <!-- QUOTE FILTER -->
                <div class="row">
                        <label class="col-sm-3 label label-primary align-middle" style="vertical-align: text-top">Quote:</label>
                        <label class="col-sm-4 align-middle"><input type="checkbox" data-bind="checked: quoteNot" />Not</label>
                        <select class="col-sm-5 align-middle" data-bind="options: filterOptions, value: quoteOption"></select>
                </div>
                <div class="row">
                        <textarea type="search" class="col-md-12 form-control" data-bind="value: searchQuoteBody, valueUpdate: 'afterkeydown'"></textarea>
                </div>
            </div><!-- QUOTE FILTER -->

            <div class="col-sm-3">
                <!-- TITLE FILTER -->
                <div>
                    <label><input type="checkbox" data-bind="checked: titleNot" /> Not</label>

                    <select data-bind="options: filterOptions"></select>
                </div>
                <h4><span class="label label-primary">Title:</span></h4><input type="search" class="form-control" data-bind="value: searchSourceTitle, valueUpdate: 'afterkeydown'" />
            </div><!-- TITLE FILTER -->

            <div class="col-sm-3">
                <!-- TAG FILTER -->
                <div>
                    <label><input type="checkbox" data-bind="checked: tagNot" /> Not</label>

                    <select data-bind="options: filterOptions"></select>
                </div>
                <h4><span class="label label-primary">Tag:</span></h4><input type="search" class="form-control" data-bind="value: searchQuoteTag, valueUpdate: 'afterkeydown'" />
            </div><!-- TAG FILTER -->

            <div class="col-sm-3">
                <!-- AUTHOR FILTER -->
                <div>
                    <label><input type="checkbox" data-bind="checked: authorNot" /> Not</label>

                    <select data-bind="options: filterOptions"></select>
                </div>
                <h4><span class="label label-primary">Author:</span></h4><input type="search" class="form-control" data-bind="value: searchSourceAuthor, valueUpdate: 'afterkeydown'" />
            </div><!-- AUTHOR FILTER -->
        </div>
    </div><!-- SEARCH QUOTE TAB -->
</div><!-- TAB CONTENTS -->

<div data-bind="visible: $root.debug" class="row"><!-- DEBUG PANE -->
    <div class="col-md-4">
        <div>
            <form>
                <div class="form-group">
                    <label>Processing Results</label>
                    <p class="form-control" data-blind="text: result" style="width: 100%; max-width: 100%; max-height: 500px;"><p>
                </div>
                <div class="form-group error-messages" data-bind="foreach: errors">
                    <p data-bind="text: $data" />
                </div>
            </form>
        </div>
    </div>
</div><!-- DEBUG PANE -->

<button data-bind="visible: $root.debug" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#quoteModal">
    Launch demo modal
</button><!-- LAUNCH MODAL DEMO -->

<div data-bind="visible: $root.debug" class="modal fade" id="quoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: errorText">Error</h4>
            </div>
            <div class="modal-body">
                <p data-bind="text: result" style="width: 100%; max-width: 100%; max-height: 500px;  overflow: auto"><p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- MODAL DEMO -->
